.d-flex{
    display:flex;
}

.box-sizing{
    width: 831px;
    height: 160px;
    margin-left: 230px;
    padding: 15px;
}

img{
    display: block;
}

.discovery-bg {
    background: linear-gradient(246.08deg, #0AA2C0 34.64%, rgba(10, 162, 192, 0) 149.64%, #0AA2C0 149.64%);
}
