.d-flex{
    display:flex;
}

.box-sizing{
    width: 831px;
    height: 160px;
    margin-left: 230px;
    padding: 15px;
}

img{
    display: block;
}

.discovery-bg {
    background: linear-gradient(246.08deg, #0AA2C0 34.64%, rgba(10, 162, 192, 0) 149.64%, #0AA2C0 149.64%);
}

#search-box {
    width: 100%;
    background-color: #E9ECEF;
    padding: 0 1em;
}

#search-submit-button {
    background-color: #0DCAF0;
    width: 48px;
    height: 48px;
}

.post-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post {
    display: flex;
    column-gap: 1em;
}

.post img {
    flex: 0.3;
    max-width: 200px;
    border-radius: 4px;
}

.post div {
    flex: 0.7;
}
