html, body {
    background: linear-gradient(113.18deg, #0DCAF0 35.01%, rgba(13, 202, 240, 0) 152.68%);
    height: 100%;
}

main {
    height: 100%;
}

.login_submit {
    position: absolute;

    bottom: 20px;
}
