@import "reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
}

@font-face {
    font-family: 'Pretendard';
    src: url("/Pretendard-Medium.woff2") format("woff2"),
    url("/Pretendard-Bold.woff2") format("woff2"),
    url("/Pretendard-Light.woff2") format("woff2");
}

* {
    font-family: Pretendard, serif;
}

html, body {
    height: 100%;
}

/**
    @warning 여기있는 css 는 수정하지 않는 것을 권고합니다.
    필요하시면 기존 내용 참고하여 새로 작성하세요
 */

/* 최상위 레이아웃 */
.common_layout {
    @apply w-full px-[20px] md:px-[100px] lg:px-[200px];
}

.header {
    @apply absolute flex justify-between items-center font-bold text-white py-2;
}

.article {
    @apply flex py-24 flex-col md:flex-row;
}


.button {
    @apply min-w-[100px] min-h-[24px] px-10 py-3;
}

.button_primary {
    @apply button bg-cyan-400 text-white rounded-3xl hover:bg-cyan-500 hover:text-gray-100 transition ease-out active:bg-cyan-600;
}

.button_white {
    @apply button bg-white text-gray-800 rounded-3xl hover:bg-gray-200 hover:text-gray-700 transition ease-out active:bg-gray-300;
}

.button_gray {
    @apply button bg-slate-800 text-white rounded-3xl hover:bg-slate-700 hover:text-gray-50 transition ease-out active:bg-slate-600;
}

.login_input {
    @apply w-full px-3.5 py-3 text-base bg-slate-600 rounded-md;
}

.form_content {
    @apply flex flex-col gap-y-1.5;
}

.dimmed {
    width: 100vw;
    height: 100%;
    transform: translateX(-200px);
}

.pretendard {
    font-family: Pretendard, -apple-system, monospace;
}

footer {
    position: relative;
}

.live_panel {
    @apply px-7 py-4 bg-gray-900 min-w-[200px] h-full;
}

.liver {
    @apply flex items-center gap-x-3 text-gray-300;
}

.chat_box {
    @apply w-full h-12 px-4 bg-gray-600 rounded-lg text-gray-200;
}

.chat_space {
}

.chat {
    @apply flex gap-x-2.5;
}

.banner {
    @apply h-[550px] flex items-center justify-center relative overflow-hidden text-white;
}
